
<div class="container bg-secondary mt-5 mt-5 pb-5" id="content">

   <div class="row justify-content-center mt-5 pb-5">
     <div class="col col-12 mt-5 offset-1">         
             <input class="btn btn-lg ititle" id="message" placeholder="Your chat message here"  [(ngModel)]="msg" #message>
             <button class="btn btn-primary btn-lg" type="submit" (click)="send(message.value)" >Send now </button>
     </div><!-- column -->        
    </div><!-- row -->
    <div class="row justify-content-center pb-5 border border-warning" 
    *ngFor= "let item of items | async; let i = index">
        <div class="col col-9 mt-5">         
             <p>This is a chat message</p>
        </div><!-- column --> 
        <div class="col col-3 mt-5 float-right">         
                <button class="btn btn-info btn-sm" type="submit">Edit </button>
                <button class="btn btn-info btn-sm" type="submit">Delete </button>
           </div><!-- column -->         
     </div>
     <!--<div class="row justify-content-center pb-5 border border-warning">
        <div class="col col-9 mt-5">         
             <p><input></p>
        </div>
        <div class="col col-3 mt-5 float-right">         
                <button class="btn btn-info btn-sm" type="submit">Edit </button>
                <button class="btn btn-info btn-sm" type="submit">Delete </button>
           </div>        
      </div>row -->
    
</div> <!-- Container -->
